@model TVG.LojaVirtual.Dominio.Entidade.Pedido

@{
    ViewBag.Title = "TVG: Fechar o pedido";
}

<h2>Fechar o pedido</h2>

<p>Digite suas informações abaixo</p>

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary()
    
    <h3>Enviar para</h3>
    
    <div class="form-group">
        <label>Nome do cliente: </label>
        @Html.TextBoxFor(p => p.NomeCliente, new { @class = "form-control" })

        @Html.ValidationMessageFor(x => x.NomeCliente)
    </div>
    
    <h3>Dados para entrega</h3>

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "NomeCliente" && property.PropertyName != "EmbrulharPresente")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    @*<div class="form-group">
        <label>Cep: </label>
        @Html.TextBoxFor(p => p.Cep, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Endereço: </label>
        @Html.TextBoxFor(p => p.Endereco, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Complemento: </label>
        @Html.TextBoxFor(p => p.Complemento, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Cidade: </label>
        @Html.TextBoxFor(p => p.Cidade, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Bairro: </label>
        @Html.TextBoxFor(p => p.Bairro, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>UF: </label>
        @Html.TextBoxFor(p => p.Estado, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>E-mail: </label>
        @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
    </div>*@
    
    <h3>opções</h3>
    
    <div class="checkbox">
        <label>
            @Html.EditorFor(p => p.EmbrulharPresente)
            Embrulhar para presente?
        </label>
    </div>
    
    <input class="btn btn-primary" type="submit" value="Fechar Pedido"/>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $('#Cep').change(function (e) {
        //evita post
        e.preventDefault();

        $("#Endereco").val('');
        $("#Bairro").val('');
        $("#Cidade").val('');
        $("#Estado").val('');

        var cep = $('#Cep').val().replace("-", "");

        $.getJSON("http://api.postmon.com.br/v1/cep/" + cep, {}, function (data)
        {
            //if (data.resultado_txt == 'sucesso - cep completo')
            //{
                $("#Endereco").val(data.logradouro);
                $("#Bairro").val(data.bairro);
                $("#Cidade").val(data.cidade);
                $("#Estado").val(data.estado);
            //}
        });
    });
</script>